# OmniCart Frontend Environment Configuration

# Backend API URL (Local: http://localhost:5000/api | Live: https://omnicart-backend-kqdw.onrender.com/api)
VITE_API_URL=https://omnicart-backend-kqdw.onrender.com/api

# Google OAuth Client ID (Registered for http://localhost:5173 & https://omni-cart-bdev.vercel.app)
VITE_GOOGLE_CLIENT_ID=50233012131-mjfilo6afju30lapagtu6o70lrqnp9bu.apps.googleusercontent.com

